<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.sensor.stepcounter"
        android:required="false" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.WAKE_LOCK"
        android:maxSdkVersion="26" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar.Status"
        tools:targetApi="31">
        <activity
            android:name=".PictureInPictureActivity"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:autoRemoveFromRecents="true"
            android:launchMode="singleTask"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"/>
        <!--
             The API key for Google Maps-based APIs is defined as a string resource.
             (See the file "res/values/google_maps_api.xml").
             Note that the API key is linked to the encryption key used to sign the APK.
             You need a different API key for each encryption key, including the release key that is used to
             sign the APK for publishing.
             You can define the keys for the debug and release targets in src/debug/ and src/release/.
        -->

        <activity
            android:name=".ui.activity.SpeedometerActivity"
            android:taskAffinity=".ui.activity.SpeedometerActivity"
            android:supportsPictureInPicture="true"
            android:parentActivityName=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:resizeableActivity="true"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="false"
            android:allowTaskReparenting="false"
            android:theme="@style/AppTheme.NoActionBar.Status" />

        <activity
            android:name=".ui.activity.PedometerActivity"
            android:taskAffinity=".ui.activity.PedometerActivity"
            android:supportsPictureInPicture="true"
            android:parentActivityName=".ui.activity.MainActivity"
            android:launchMode="singleTask"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:resizeableActivity="true"
            android:autoRemoveFromRecents="true"
            android:excludeFromRecents="false"
            android:allowTaskReparenting="false"
            android:theme="@style/AppTheme.NoActionBar.Status" />

        <activity
            android:name=".ui.activity.SettingsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Custom" />
        <activity
            android:name=".ui.activity.SpeedoGraphActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.MainSpeedometerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />

        <receiver android:name=".BootReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".AppUpdatedReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

        <service android:name=".SensorListener" />
        <service android:name=".util.BackgroundPlayService" />
    </application>

</manifest>